<?xml version="1.0"?>

<model>
  <name>TurtleBot3 Manipulation(Waffle Pi)</name>
  <version>2.0</version>
  <sdf version="1.4">model-1_4.sdf</sdf>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Will Son</name>
    <email>willson@robotis.com</email>
  </author>

  <description>
    TurtleBot3 Manipulation Waffle Pi
  </description>
</model>
